.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.hero-section video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 0.20;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

.down-arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid var(--primary-color);
  cursor: pointer;
  animation: bounce 7s infinite;
}

.hero-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.hero-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

.hero-wave .shape-fill {
  fill: var(--secondary-color);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateX(-50%) translateY(0);
  }
  40% {
      transform: translateX(-50%) translateY(-10px);
  }
  60% {
      transform: translateX(-50%) translateY(-5px);
  }
}

.hero-content {
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: -1.5rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: var(--accent-color);
  min-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }
}

.about-section {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.about-content h2 {
  font-size: 2rem;
  color: var(--primary-color);
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .about-content h2 {
    font-size: 1.5rem;
  }

  .about-content p {
    font-size: 1rem;
  }
}

/* Animation purposes */

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
}

.hero-content, .about-content {
  transition: all 1s ease;
}