
.footer-container {
  background-color: #222;
  padding: 1rem 0;
}

.footer-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2rem;
}

.social-links a:hover {
  cursor: pointer;
}


@media (max-width: 768px) {
  .social-links {
    flex-direction: column;
    gap: 1rem;
  }

  .social-links a {
    font-size: 1rem;
  }
}
