.portfolio-section {
  padding: 4rem 0;
  text-align: center;
  background-color: var(--secondary-color);
}

.section-title {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem; /* Reduced bottom margin */
  opacity: 1;
}

.portfolio-desc {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 3rem; /* Space between footer and grid */
  cursor: pointer;
  transform: translateY(-35px);
  transition: transform 0.5s ease, opacity 0.5s ease, color 0.3s ease;
}

.portfolio-desc:hover {
  color: var(--accent-color);
}

/* Responsive Footer */
@media (max-width: 768px) {
  .portfolio-desc {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .portfolio-desc {
    font-size: 0.9rem;
  }
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 0 2rem;
}

.project-card {
  background-color: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.project-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}

.project-info {
  padding: 1.5rem;
}

.project-title {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 1rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.project-link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #ffdd57bf;
}

/* Responsive Grid Adjustments */
@media (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}
